<html>
    <script defer src="./javascript/chat.js"></script>
    
    <form id="send-container">
        <input type="text" id="message-input">
        <button type="submit" id="send-button">Send</button>
    
    </form>
</html>